<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="PartialViews" stopProcessing="true">
          <match url="^Partial/(.*)\.html$"/>
          <action type="Redirect" url="/Views/Partial/{R:1}.html" redirectType="Permanent"/>
        </rule>
        <rule name="App" stopProcessing="true">
          <match url="^app.js$"/>
          <action type="Redirect" url="/Views/app.js" redirectType="Permanent"/>
        </rule>
        <rule name="Controllers" stopProcessing="true">
          <match url="^controllers.js$"/>
          <action type="Redirect" url="/Views/controllers.js" redirectType="Permanent"/>
        </rule>
        <rule name="Scripts" stopProcessing="true">
          <match url="^(?!Scripts|Views)(.*)\.js$"/>
          <action type="Redirect" url="/Scripts/{R:1}.js" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
